window#waybar {
    font-family: "JetBrains Mono NerdFont";
    background-color: rgba(0,0,0,0);
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.modules-left, .modules-center {
    opacity: 1;
    
    border-radius: 0.5rem;
    padding: 2px;
}

.modules-right {
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    padding: 2px 2px 2px 10px
}
.custom-swaync {
    min-height: 200px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
}
window.notifications {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    min-height: 250px;
}

.notification-row {
    padding: 5px;
    margin: 2px 0;
}

/* label.module {
    margin-left: -1px;
} */

#workspaces {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    padding: 0 2px;
}

#workspaces button {
    font-size: 0.6rem;
    padding: 0 0.3rem 0 0;
}
#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.2); /* Change background color for active workspace */
    padding: 2px;
}

#window {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    padding: 2px 5px;
}

#clock {
    font-weight: bolder;
    border-radius: 0.5rem;
    padding: 0 3px 0 0;
}

#battery {
    color: lightgreen;
}

#memory {
    color: lightpink;
}

#disk {
    color: lightskyblue;
}

#cpu {
    color: lightgoldenrodyellow;
}

#temperature {
    color: lightslategray;
}
